GooglePlay/screenshots/raw/tab7/Screenshot_20221126_154210.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/temp_screenshot.svg filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/ic_launcher_background.svg filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab7/Screenshot_20221126_154210.png~ filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab7/Screenshot_20221126_154246.png~ filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/phone/Screenshot_20221126_153151.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/ic_launcher_foreground.svg filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab10/Screenshot_20221126_154625.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/tab7/Screenshot_20221126_154300.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/hanstodon_icon.svg filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/phone/Screenshot_20221126_153831.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab10/Screenshot_20221126_154609.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab10/Screenshot_20221126_154646.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab10/Screenshot_20221126_154625.png~ filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab7/Screenshot_20221126_154246.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/tab10/Screenshot_20221126_154646.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/Mastodon_logotype_(simple)_new_hue.svg filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/hanstodon_icon_store.svg filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/ic_launcher_background.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/phone/Screenshot_20221126_153728.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/phone/Screenshot_20221126_153728.png~ filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/phone/Screenshot_20221126_153728.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/phone/Screenshot_20221126_153831.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/tab10/Screenshot_20221126_154625.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/tab7/Screenshot_20221126_154246.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/hanstodon_graphic.svg filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/hanstodon_icon_graphic_b.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/phone/Screenshot_20221126_153831.png~ filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab10 filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/tab7 filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/hanstodon_icon_store.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/phone/Screenshot_20221126_153151.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/phone/Screenshot_20221126_153151.png~ filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab10/Screenshot_20221126_154646.png~ filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab7/Screenshot_20221126_154300.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab7/Screenshot_20221126_154210.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab7/Screenshot_20221126_154300.png~ filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/phone filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/hanstodon_graphic_b.svg filter=lfs diff=lfs merge=lfs -text
GooglePlay/icons/ic_launcher_foreground.png filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/phone filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab10/Screenshot_20221126_154609.png~ filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/edited/tab7 filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/tab10 filter=lfs diff=lfs merge=lfs -text
GooglePlay/screenshots/raw/tab10/Screenshot_20221126_154609.png filter=lfs diff=lfs merge=lfs -text
